<?xml version="1.0"?>
<packages>
    <package id="GoogleChrome" />
    <package id="winrar" />
    <package id="dropbox" />
    <package id="curl" />
    <package id="wget" />
    <package id="git" />
    <package id="python2" />
    <package id="python3" />
    <package id="virtualbox" />
    <package id="docker" />
    <package id="jdk8" />
</packages>
