<?xml version="1.0"?>
<packages>
    <package id="ctrl2cap" />
    <package id="GoogleChrome" />
    <package id="winrar" />
    <package id="dropbox" />
    <package id="wget" />
    <package id="git" />
    <package id="vim" />
    <package id="vscode" />
    <package id="virtualbox" />
    <package id="docker" />
    <package id="Pycharm" />
    <package id="wsl-ubuntu-1804" />
</packages>
